*{padding: 0;}

.container{
    display: grid;
    grid-template-areas: "he he he he he"
                        "as1 ma ma ma as2"
                        "fo fo fo fo fo";
    grid-template-rows: 15vh 75vh 10vh;
}
.header{
    grid-area: he;
}
.main{
    grid-area: ma;
    background-color: red;
    display: flex;
    
}
.footer{
    grid-area: fo;
    background-color: green;
}
.aside1{
    grid-area: as1;
}
.aside2{
    grid-area: as2;
}