<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./public/css/login.css">
</head>
<body>
    <div class="container">
        <div class="header">header</div>
        <div class="main">

        <div  class="post">
            <div class="errs"></div>
            <div class="Inputs">
                <h1>Cadastro</h1>
                <input type="text" class="name" placeholder="name"  required>
        
                <input type="text"class="pass1" placeholder="password" required>
        
                <button type="submit" class="btn">
                    Send
                </button>
            </div>
           
            </div>
        </div>
    <div class="aside1">aside1</div>
    <div class="aside2">aside2</div>
    <div class="footer">footer</div>  
</body>
<script src="./public/js/cadastro.js"></script>
</html>