<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div  class="post">
       
    <div class="Inputs">
        <div class="errs"></div>
        <input type="text" class="name"  >

        <input type="text"class="pass1" >


        <input type="text"class="pass2" >
    </div>
    <button type="submit" class="btn">
        Send
    </button>
    </div>
</body>
<script src="./public/js/cadastro.js"></script>
</html>