<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./public/css/login.css">
</head>
<body>
    <div class="container">
      
        <div class="main">

        <div  class="Form">
            <div class="MsgErrs"></div>
            <div class="Inputs">
                <h1>Login</h1>
                <input type="text" class="name" placeholder="name"  required>
        
                <input type="text"class="pass1" placeholder="password" required>
        
                <button type="submit" class="btn">
                    Send
                </button>

                <div class="cadastro">
                    <a href="cadastro.html">Se cadastre</a>
                </div>
              
            </div>
           
            </div>
        </div>
     
</div>
</body>
<script type="module" src="./public/js/login.js"></script>
</html>